*libiq_wrap.cxx

**/__pycache__/
**/_libiq.cpython*
**/libiq.py

/examples/demo/iq_samples/*

*venv*
libs/*
src/libiq.egg-info
*libiq_wrapped_wrap.cpp
src/libiq/_libiqwrapped.cpython-310-x86_64-linux-gnu.so
src/libiq/libiqwrapped.py

build/*

examples/test_results/*
libs/zlib
dist/*